.elements {
    display: flex !important;
    justify-content: flex-end !important;
}

.active {
    color: var(--primary) !important;
}

.mobileDrawer {
    color: white !important;
    background: var(--secondary) !important;
    width: 15rem !important;
    padding-top: 55px;
}

.mobileLinks {
    font-size: x-large !important;
    padding: 1rem !important;
}